# Node.js dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build outputs
dist/
build/

# Local environment files
.venv
.env.local
.env.*.local

# Editor & OS junk
.DS_Store
Thumbs.db
.vscode/
.idea/

# Logs
*.log

# Cache
.cache/
*.cache

# Temporary or archive files
*.zip
